/*************************************************/
/*												 */
/*			PCRD Data Viz Styles				 */
/*												 */
/*************************************************/

/*
	Main Colors: 

*/

html, body {
	width: 100%;
	height: 100%;
}

#bubble {
	margin: 0 0 0 40px;
	
}

path {
	transform-origin: center center 0px;
	stroke: gray;
}

svg {
	overflow: visible;
	margin:0 auto;
}

#pickData {
	position: fixed; 
	top: 200px;
	left: 40px;
}

/*
		.regionOne{fill:#cc0000;}
		.regionTwo{fill:blue;}
		.regionThree{fill:green;}
		.regionFour{fill:yellow;}
		.regionFive{fill:lime;}
		.regionSix{fill:orange;}
		.regionSeven{fill:teal;}
		.regionEight{fill:#9900cc;}
		.regionNine{fill:navy;}
		.regionTen{fill:#0000cc;}
		.regionEleven{fill:#e5e5ff;}
		.regionTwelve{fill:#ff33ff;}
		.regionThirteen{fill:#cc00cc;}
		.regionFourteen{fill:#330033;} 
 */
